<template>
  <div>
    <FrontendTestComponent :items="items"/>
  </div>
</template>

<script setup lang="ts">
import FrontendTestComponent from "./components/FrontendTestComponent.vue";

const items = [
  {
    id: 1,
    first_name: "Gertruda",
    last_name: "McVicar",
    email: "gmcvicar0@state.gov",
    profile_pic: "http://dummyimage.com/241x100.png/dddddd/000000",
    children: [
      {
        id: 2,
        first_name: "Yettie",
        last_name: "Swetenham",
        email: "yswetenham1@hubpages.com",
        profile_pic: "http://dummyimage.com/220x100.png/cc0000/ffffff",
      },
      {
        id: 3,
        first_name: "Garek",
        last_name: "Bould",
        email: "gbould2@census.gov",
        profile_pic: "http://dummyimage.com/126x100.png/ff4444/ffffff",
        children: [
          {
            id: 4,
            first_name: "Alysia",
            last_name: "Netherclift",
            email: "anetherclift3@nationalgeographic.com",
            profile_pic: "http://dummyimage.com/238x100.png/5fa2dd/ffffff",
            children: [
              {
                id: 6,
                first_name: "Mommy",
                last_name: "Rickards",
                email: "mrickards5@shinystat.com",
                profile_pic: "http://dummyimage.com/194x100.png/5fa2dd/ffffff",
                children: [
                  {
                    id: 7,
                    first_name: "Isabelita",
                    last_name: "Serotsky",
                    email: "iserotsky6@csmonitor.com",
                    profile_pic:
                      "http://dummyimage.com/202x100.png/cc0000/ffffff",
                  },
                  {
                    id: 8,
                    first_name: "Marlane",
                    last_name: "Fass",
                    email: "mfass7@list-manage.com",
                    profile_pic:
                      "http://dummyimage.com/166x100.png/dddddd/000000",
                  },
                ],
              },
            ],
          },
          {
            id: 5,
            first_name: "Deane",
            last_name: "Benezet",
            email: "dbenezet4@cloudflare.com",
            profile_pic: "http://dummyimage.com/207x100.png/dddddd/000000",
            children: [
              {
                id: 9,
                first_name: "Alisun",
                last_name: "Magog",
                email: "amagog8@clickbank.net",
                profile_pic: "http://dummyimage.com/223x100.png/5fa2dd/ffffff",
                children: [
                  {
                    id: 10,
                    first_name: "Charin",
                    last_name: "Cohrs",
                    email: "ccohrs9@free.fr",
                    profile_pic:
                      "http://dummyimage.com/136x100.png/ff4444/ffffff",
                    children: [
                      {
                        id: 12,
                        first_name: "Allina",
                        last_name: "Tern",
                        email: "aternb@mapy.cz",
                        profile_pic:
                          "http://dummyimage.com/113x100.png/5fa2dd/ffffff",
                      },
                      {
                        id: 13,
                        first_name: "Cicely",
                        last_name: "Mycroft",
                        email: "cmycroftc@archive.org",
                        profile_pic:
                          "http://dummyimage.com/155x100.png/ff4444/ffffff",
                        children: [
                          {
                            id: 12,
                            first_name: "Allina",
                            last_name: "Tern",
                            email: "aternb@mapy.cz",
                            profile_pic:
                              "http://dummyimage.com/113x100.png/5fa2dd/ffffff",
                            children: [
                              {
                                id: 13,
                                first_name: "Cicely",
                                last_name: "Mycroft",
                                email: "cmycroftc@archive.org",
                                profile_pic:
                                  "http://dummyimage.com/155x100.png/ff4444/ffffff",
                              },
                              {
                                id: 14,
                                first_name: "Hersh",
                                last_name: "Esilmon",
                                email: "hesilmond@list-manage.com",
                                profile_pic:
                                  "http://dummyimage.com/106x100.png/ff4444/ffffff",
                              },
                              {
                                id: 15,
                                first_name: "Arda",
                                last_name: "Chedzoy",
                                email: "achedzoye@epa.gov",
                                profile_pic:
                                  "http://dummyimage.com/144x100.png/5fa2dd/ffffff",
                              },
                            ],
                          },
                        ],
                      },
                    ],
                  },
                  {
                    id: 11,
                    first_name: "Flinn",
                    last_name: "Inchbald",
                    email: "finchbalda@canalblog.com",
                    profile_pic:
                      "http://dummyimage.com/166x100.png/cc0000/ffffff",
                    children: [
                      {
                        id: 16,
                        first_name: "Aeriel",
                        last_name: "Bazek",
                        email: "abazekf@unicef.org",
                        profile_pic:
                          "http://dummyimage.com/116x100.png/cc0000/ffffff",
                      },
                      {
                        id: 17,
                        first_name: "Quill",
                        last_name: "Awcoate",
                        email: "qawcoateg@wikimedia.org",
                        profile_pic:
                          "http://dummyimage.com/209x100.png/5fa2dd/ffffff",

                        children: [
                          {
                            id: 18,
                            first_name: "Minor",
                            last_name: "Roches",
                            email: "mrochesh@shutterfly.com",
                            profile_pic:
                              "http://dummyimage.com/176x100.png/cc0000/ffffff",
                          },
                        ],
                      },
                    ],
                  },
                ],
              },
            ],
          },
        ],
      },
    ],
  },
  {
    id: 19,
    first_name: "Merilyn",
    last_name: "Grafhom",
    email: "mgrafhomi@shutterfly.com",
    profile_pic: "http://dummyimage.com/194x100.png/5fa2dd/ffffff",
  },
  {
    id: 20,
    first_name: "Minnaminnie",
    last_name: "Knottley",
    email: "mknottleyj@toplist.cz",
    profile_pic: "http://dummyimage.com/181x100.png/ff4444/ffffff",
    children: [
      {
        id: 21,
        first_name: "Janna",
        last_name: "Petchey",
        email: "jpetcheyk@nba.com",
        profile_pic: "http://dummyimage.com/153x100.png/ff4444/ffffff",
        children: [
          {
            id: 23,
            first_name: "Darrelle",
            last_name: "McGarrity",
            email: "dmcgarritym@wp.com",
            profile_pic: "http://dummyimage.com/245x100.png/5fa2dd/ffffff",
            children: [
              {
                id: 24,
                first_name: "Virginie",
                last_name: "Grainger",
                email: "vgraingern@msn.com",
                profile_pic: "http://dummyimage.com/145x100.png/ff4444/ffffff",
                children: [
                  {
                    id: 25,
                    first_name: "Kaye",
                    last_name: "Yakunkin",
                    email: "kyakunkino@ifeng.com",
                    profile_pic:
                      "http://dummyimage.com/234x100.png/cc0000/ffffff",
                  },
                ],
              },
            ],
          },
        ],
      },
      {
        id: 22,
        first_name: "Berkeley",
        last_name: "Labuschagne",
        email: "blabuschagnel@pcworld.com",
        profile_pic: "http://dummyimage.com/196x100.png/dddddd/000000",
      },
    ],
  },
];
</script>

<style scoped></style>
